head
  meta(charset='utf-8')
  title IoT Project - Lujan
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    h2
      | Migo's Awesome UI
    h6 #{mes}
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Current Status of Heater
              h6#myModalLabel.modal-title
              | If there's no data at first, refresh page after program has been running for a bit
          // Modal Body
          .modal-body
          ul
            li Heater Status: #{heaterStatus}
            li Current Temp: #{currentTemp}
            li Set Point 1: #{time1}
            li Threshold Temperatures
                ul 
                    li Low Temp: #{lowTemp1}
                    li High Temp: #{hiTemp1}
            li Set Point 2: #{time2}
            li Threshold Temperatures
                ul 
                    li Low Temp: #{lowTemp2}
                    li High Temp: #{hiTemp2}
            li Set Point 3: #{time3}
            li Threshold Temperatures
                ul 
                    li Low Temp: #{lowTemp3}
                    li High Temp: #{hiTemp3}


          